.articles {
    background: #ffffff;
    display: flex;
    padding-top: 80px;
    flex-flow: row wrap;
    border: solid 1px #e1e0e0;
    border-top: none;    
}

.article {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
    margin-bottom: 80px;
    padding-right: 10px;
    min-height: 310px;
    max-height: 470px;
    /* flex-flow: row wrap; */
}

.article img {
    width: 470px;
    height: 100%;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    width: 470px;
    height: 100%;
}

.details h2 {
    font-family: Lato-Bold;
    font-size: 28pt;
    color: rgba(79, 78, 78, 255);
    text-align: left;
    margin-top: -0.2em;
    padding: 0px;
    margin-bottom: 0px;
}

.details p {
    font-family: Lato-Regular;
    font-size: 16pt;
    color: rgba(96, 96, 96, 255);
    text-align: left;
}

.details button {
    color: #c2c2c2;
    background: #ffffff;
    border: solid 2px #c2c2c2;
    border-radius: 30px;
    font-size: 16pt;
    padding: 10px;
    width: 230px;
    transition: all 0.8s ease;
}

.details button:hover {
    color: #58c93a;
    border: solid 2px #58c93a;
    cursor: pointer;
    width: 250px;
}

.details button:hover::after {
    content: '→';
    color: #58c93a;
    margin-left: 10px;
}

.details button img {
    width: 15px;
    height: 7;
    margin-left: 2px;
}

.page-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    width: 100%;
    border-top: solid 1px #e1e0e0;
}

.page-nav button {
    font-size: 18pt;
    color: rgba(129, 129, 129, 255);
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-family: Lato-Bold;
}
