footer{
    background-color: #f8f8f8;
}    

.footer-container{
    max-width:  var(--container-width);
    margin: 0 auto;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 80px 0;
    height: 190px;
}

.footer-logo{
    width: 85px;
    height: 33px;
    align-self: center; 
    /* margin-bottom: 32px; */
}

.footer-container p{
    align-self: center; 
    font-family: Lato-Bold;   
    /* margin-bottom: 32px; */
    font-size: 13pt;
    color: rgba(166, 166, 166, 255);    
}

.footer-container ul{
    display: flex;
    justify-content: space-between;
    align-self: center; 
    width: 500px;
    padding: 0px;
    margin: 0;
}

.footer-container li{
    list-style: none;
    cursor: pointer;        
    font-size: 40px;
    color: #e5e5e5;
    transition: all 0.45s ease;
}

#facebook:hover{
    color: #516fad;
}
#twitter:hover{
    color: #7391ce;
}
#behance:hover{
    color: #828d22;
}
#youtube:hover{
    color: #993333;
}

.footer-container li i{
    padding: 0px;
}