@import "_vars.css";
@import "_fonts.css";
@import "_nav.css";
@import "_articles.css";
@import "_footer.css";




body{
    background: #ffffff;
    /* font-family: Lato-Regular; */
}

header{
    background: var(--nav-background-color);
    border-bottom: inset 5px #1d1d1d;  
    /* margin-bottom: 80px; */
}

.nav-container{
    max-width:  var(--container-width);
    margin: 0 auto;
    height: 130px;
    /* border: solid 1px #e1e0e0;         */
}

.page-container{
    max-width:  var(--container-width);
    margin: 0 auto;
    margin-bottom: 6px;
}

section{
    padding: 0;
}


@media (max-width: 740px){
    .article {
        padding: 10px;
    }

    .page-container{
        max-width:  740px;
        margin: 0 auto;
        margin-bottom: 6px;
    }
    
    nav{
        padding: 0 20px;
    }

    .article {
        align-self: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        min-height: 550px;
        margin-bottom: 0px;
        /* width: 500px;         */
    }

    .details{
        align-self: center;
        justify-content: center;
    }

    .article img {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }
    
    .details {
        padding: 0px;
        width: 450px;
        height: 100%;
    }
    
    
    .details h2 {
        font-size: 20pt;
        color: rgba(79, 78, 78, 255);
        text-align: left;
        margin-top: -0.2em;
        padding: 0px;
        width: 100%;
    }
    
    .details p {
        font-family: Lato-Regular;
        font-size: 12pt;
        color: rgba(96, 96, 96, 255);
        text-align: left;
    }
    
    .details button {
        color: #c2c2c2;
        background: #ffffff;
        border: solid 2px #c2c2c2;
        border-radius: 30px;
        font-size: 12pt;
        padding: 5px;
        width: 180px;
        transition: all 0.8s ease;
    }
    
    .details button:hover {
        color: #58c93a;
        border: solid 2px #58c93a;
        cursor: pointer;
        width: 180px;
    }
    
    .details button:hover::after {
        content: '→';
        color: #58c93a;
        margin-left: 7px;
    }
    
    .details button img {
        width: 10px;
        height: 5;
        margin-left: 2px;
    }
    
    
}

@media (max-width: 1000px) and (min-width: 740px){
    .page-container{
        max-width:  var(--container-width-responsive);
        margin: 0 auto;
        margin-bottom: 6px;
    }
    .article {
        display: flex;
        justify-content: space-between;
        padding: 0px;
        width: 100%;
        margin-bottom: 40px;
        min-height: 210px;
        /* flex-flow: row wrap; */
    }
    
    .article img {
        width: 320px;
        height: 100%;
    }
    
    .details {
        padding: 0px;
        width: 320px;
        height: 100%;
    }
    
    .details h2 {
        font-size: 20pt;
        color: rgba(79, 78, 78, 255);
        text-align: left;
        margin-top: -0.2em;
        padding: 0px;
    }
    
    .details p {
        font-family: Lato-Regular;
        font-size: 12pt;
        color: rgba(96, 96, 96, 255);
        text-align: left;
    }
    
    .details button {
        color: #c2c2c2;
        background: #ffffff;
        border: solid 2px #c2c2c2;
        border-radius: 30px;
        font-size: 12pt;
        padding: 5px;
        width: 180px;
        transition: all 0.8s ease;
    }
    
    .details button:hover {
        color: #58c93a;
        border: solid 2px #58c93a;
        cursor: pointer;
        width: 180px;
    }
    
    .details button:hover::after {
        content: '→';
        color: #58c93a;
        margin-left: 7px;
    }
    
    .details button img {
        width: 10px;
        height: 5;
        margin-left: 2px;
    }
    
    .page-nav {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        width: 100%;
        border-top: solid 1px #e1e0e0;
    }
    
    .page-nav button {
        font-size: 18pt;
        color: rgba(129, 129, 129, 255);
        background-color: #ffffff;
        cursor: pointer;
        border: none;
        text-transform: uppercase;
        font-family: Lato-Bold;
    }
}
    